doctype 5
html
  head
    block head
      title #{title}
    //meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    block neck
  body

    block body
    
    div.footer
      div.container
        span.copyright.pull-right
          &#169; #{copyrightYear} #{copyrightName}
        ul.links
          li: a(href='/') Home
          li: a(href='/contact/') Contact
        div.clearfix
    
    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')
    
    //if lte IE 9
    //  script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')
    
    block feet
